:root
{
    /*bg colors*/
    --bg1: #20252c;
    --bg2: #131820;

    /*ofnt color*/
    --fc-ac: #f3fdfd;
    --fc-da: #586164;
    
    /*font size*/
    --h1: 3rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.7rem;
    --h5: 1.5rem;
    --h6: 1.2rem;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--bg2);
    color: var(--fc-ac);
    font-family: 'Roboto', sans-serif;
}

.coneiner
{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.topbar, .footer
{
    background-color: var(--bg1);
    width: 100%;
}

.topbar
{
    position: sticky;
    top: 0;
    font-size: var(--h1);
    display: inline-block;
}

.footer
{
    position: fixed;
    bottom: 0;
    font-size: var(--h6);
    clear: both;
}

.options, .preview
{
    float: left;
}

.options
{
    width: 35%;
}

.preview
{
    width: 65%;
}