:root
{
    /*bg colors*/
    --bg1: #20252c;
    --bg2: #131820;

    /*ofnt color*/
    
    /*font size*/
    --h1: 3rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.7rem;
    --h5: 1.5rem;
    --h6: 1.2rem;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--bg2);
}

.coneiner
{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.topbar
{
    background-color: var(--bg1);
    position: sticky;
    top: 0;
    font-size: var(--h1);
}